div {
	width: 150px;
	height:  150px;
	border: 5px solid black;
	padding: 20px;
	margin: 10px;
	background-color: beige;
	}
.div-1 {
	box-sizing: border-box;
}
/* paddin,margin,content 합한 값으로 만들어진다
border box 사용시 width,height 값을 미리 설정해주면 좋다*/
.div-2 {
	box-sizing: content-box;
}
/* 컨텐츠 박스만 설정한 값*/

.div-3 {
	width: 150px;
	height:  150px;
	border: 5px solid black;
	padding: 20px;
	margin: 10px;
	background-color: beige;
	box-shadow: 10px 10px 10px 10px black inset;
}