/* body {
	background-color: #000;
}
.container {
	background-color: white;
	width: 500px;
	height: 700px;
	padding: 30px;
	margin: 10px auto;
	background-image: url(../img/dog.jpg);
	background-position: right bottom;
	background-size: 300px 250px;
	background-repeat: no-repeat;
}
.header {
	background-color: green;
	color: white;
	
	margin: 5px auto;
	height: 80px;
	line-height: 80px;
	text-align: center;
}
.section {
	text-align: center;
	margin: 30px auto;
}
h3 {
	color: red;
}
ul {
	list-style-type: none;
	
} */