* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(/mini_board/src/css/img/bm.jpeg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    width: 100%;
    background-color: #000;
    padding: 2rem;
    border-bottom: 1px solid gray;
    
}

header>h1:hover {
    background-color: #00000080;
    transform: scale(1.1);
	transition-duration: 0.4s;
}



header>h1 {
    margin: 0;
    color: #ffffff;
    text-align: center;
   font-size: 4rem;
}
header>h1>a {
    color: #ffffff;
}
table {
    border-collapse: collapse;
    
    width: 700px;
    height: 500px;
    margin: 50px auto;
    font-size: 1.5rem;
}
th, td {
    border-bottom: 1px solid gray;
    text-align: center;
    color: #ffffff;
    
}
.table-title {
    border: none;
    background-color: #00000080;
    color: #ffffff;

}
section {
    text-align: center;
    background-color: #00000080;
    width: 700px;
    margin: 50px auto;
    
    
}
a {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    
}
.page-btn {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    /* background-color: #00000093; */
    color: #ffffff;
}

/* ****************ditail page***************** */

.d-num {
	/* display: inline-block; */
	text-decoration: none;
	text-align: right;
	margin: auto;
    padding: 10px;
    width: 800px;
    /* background-color: #000; */
    
    position: relative;

}

.abcd {
    position: absolute;
    border-radius: 30px;
    /* padding: 10px; */
    /* margin: auto; */
    
}

.d-num-but {
    padding: 10px;
    background-color: #00000080;
    border-radius: 50px;
}



.d-num-but:hover {
	border-radius: 50px;
	transform: scale(1.2);
	transition-duration: 0.4s;
	font-size: 1 rem;
	background-color: #00000080;
}


/* #id-num {
    margin-right: 700px;
} */

/* background-image: url(/mini_board/src/css/img/이미지이름); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 10%; */